@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Readex+Pro:wght@160..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Plein-Bold";
  src: url("/fonts/Plein-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "BespokeSans-Regular";
  src: url("/fonts/BespokeSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@layer components {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center2 {
    display: grid;
    place-items: center;
  }
  .center3 {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .clickEffect {
    @apply active:scale-90 duration-200 active:translate-y-1;
  }

  .boxShadow {
  box-shadow:
    0px 0px 2.3px rgba(0, 0, 0, 0.035),
    0px 0px 6.4px rgba(0, 0, 0, 0.05),
    0px 0px 15.4px rgba(0, 0, 0, 0.065),
    0px 0px 51px rgba(0, 0, 0, 0.1);
}
}
