@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center2 {
    display: grid;
    place-items: center;
  }
  .collegeImage {
    position: relative;
    isolation: isolate;
    background: url("./assets/college.jpg") no-repeat center;
    background-size: cover;
  }
  .collegeImage::after {
    content: "";
    position: absolute;
    background-color: #fff;
    opacity: 0.2;
    inset: 0;
    z-index: -1;
  }
}
