@tailwind base;
@tailwind components;
@tailwind utilities;

/* @apply as{
w-0
} */

@layer components {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center2 {
    display: grid;
    place-items: center;
  }
  .center3 {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
  .btnStyle {
    @apply bg-accent text-neutral-900 rounded-md active:scale-95 duration-300;
  }
  .bgPattren {
    background-image: url("./assets/images/cubes.png");
  }
}
